@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

body {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}


/* ==========================================================================
  Upper Line
========================================================================== */

.upper-line {
  background: #0d4380;
  border-radius: 0;
}

.upper-line .navbar {
  margin-bottom: 0;
}

.upper-line a {
  color: white;
}

.upper-line .nav>li>a:hover {
  color: white;
  background: #0d4380;
}

.upper-line .nav>li>a:focus {
  color: white;
  background: #0d4380;
}

.upper-line__phone, .upper-line__mail {
  font-size: .9em;
  position: relative;
  margin-right: 8px;
}

.upper-line__phone::before {
  content: '';
  width: 12px;
  height: 12px;
  background: url("../imgs/telephone.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -8px;
  top: 18px;
  z-index: 100;
}

.upper-line__mail::before {
  content: '';
  width: 15px;
  height: 15px;
  background: url("../imgs/mail.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -12px;
  top: 20px;
  z-index: 100;
}

.upper-line input {
  background-color: #d0dae6;
}

.upper-line__btn {
  border-left: none;
  color: gray;
  background-color: #d0dae6;
}
.upper-line__btn:hover {
  background-color: #d0dae6;
}


@media (max-width: 768px) {
  .upper-line .container {
    padding: 0 10px;
  }
  .upper-line .navbar-nav {
    margin: 0;
  }
  .upper-line__phone {
    display: inline-block;
    float: left;
    margin-left: 10px;
    font-size: 0.9em;
  }

  .upper-line__mail {
    display: inline-block;
    float: right;
    padding-right: 0;
  }
  .upper-line .nav>li>a {
    padding-right: 0;
  }
  .upper-line__phone::before {
    top: 12px;
  }
  .upper-line__mail::before {
    top: 15px;
  }
  .upper-line .navbar-form {
    margin: 0;
    border: none;
    padding: 0;
    padding-bottom: 10px;
  }
}

/* ==========================================================================
  Nav bar
========================================================================== */

.navigation {
  margin-bottom: 0;
  z-index: 6666;
}

.sub-menu {
  display: none;
}

.navigation li {
  padding-top: 20px;
  margin: 0 5px;
}

.navigation a {
  border-radius: 5px;
  color: #666666;
}

.navigation .nav>li>a:hover, .navigation .nav>li>a:focus {
  color: white;
  background-color: #0d4380;
}

.navbar-brand {
  margin-top: 15px;
  padding-top: 5px;
}

.navbar-brand::after {
  content: "";
  display: block;
  clear: both;
}

.navbar-brand strong, .navbar-brand span {
  display: block;
  color: #0d4a8d;
  background-color: white;
}

.navbar-brand strong {
  font-size: 1.6em;
}

.navbar-brand span {
  margin-top: 7px;
  font-size: 1.2em;
}


   /**
   * Sub-Menu Mobile
   **/


.sub-menu {
  position: absolute;
  list-style: none;
  padding: 10px;
  min-width: 150px;
  background-color: white;
}

.has-items_open + .sub-menu {
  display: block;
}



@media (max-width: 992px) {
  .navbar-brand strong {
    font-size: 1.4em;
  }

  .navbar-brand span {
    margin-top: 7px;
    font-size: 1.05em;
  }
}

@media (max-width: 992px) {
  .navbar-brand {
    display: none;
  }
}

.icon-bars {
  display: inline-block;
}

@media (max-width: 768px) {
  .navigation .navbar-collapse {

    position: absolute;

    overflow-x: hidden;
    left: 0;
    right: 14px;
    background: #DBE4ED;
  }

  .navigation .container {
    padding: 0;
  }
  .navigation .navbar {
    margin: 0;
  }
  .navigation .navbar-brand {
    display: inline-block;
    position: relative;
  }
  .navigation .navbar-brand strong {
      padding: 6px 20px 0 10px;
  }
  .navigation .navbar-brand span {
    padding: 0 20px 0px 10px;
  }
  .navigation .navbar-collapse {

    z-index: 6666;

    border-top: solid 2px #bbcbdb;
    border-bottom: solid 2px #bbcbdb;
    padding: 0;
  }
  .navigation .navbar-nav {
    margin: 0;
  }
  .navigation .navbar-nav li {
    padding-top: 0;
    border-bottom: solid 1px #bbcbdb;
  }

  .navigation .navbar-nav li:last-child {
    border-bottom: none;
  }

  .navigation .navbar-nav a {
    border-radius: 0;
    color: #0d4381;
    left: 10px;
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-brand span {
    margin: 0;
  }
  .navigation__btn {
    margin: 0;
    padding: 10px 10px;
    display: block;
    width: 120px;
    border-radius: 0;

  }

  .navigation__btn--open {
    background: #dbe4ed;
  }

  .icon-bars {
    padding-top: 8px;
    display: block;
    float: left;
  }

  .collapse-btn-name {
    display: block;
    float: right;
    color: #0f417e;
    font-weight: bold;
    font-size: 1.6em;
  }


  /**
   * Sub-Menu Mobile
   **/


  .navigation ul .has-items::after {
    content: 'V';
    display: block;
    position: absolute;
    left: 140px;
    top: 9px;
  }

  .nav>li>.has-items_open:focus {
    color: white;
    background-color: #0D4380;
  }

  .navigation ul .has-items_open {
    color: white;
    background-color: #0d4381;
  }

  .navigation ul .has-items_open:hover {
    color: white;
    background-color: #0d4381;
  }

  .navigation ul .has-items_open::after {
    content: 'A';
    display: block;
    position: absolute;
    left: 140px;
    top: 9px;
  }

  .sub-menu {
    background-color: #DBE4ED;
    position: static;
    padding: 0;
  }

  .sub-menu ul {
    padding: 0;
  }

  .sub-menu a{
    display: block;
    list-style: none;
    font-size: 0.9em;
    padding: 10px 0 10px 150px;
  }

  .sub-menu a:hover {
    text-decoration: none;
    background-color: white;
  }
  .sub-menu a:focus {
    text-decoration: none;
  }

  .has-items_open + .sub-menu {
    display: block;
  }

}

@media (max-width: 375px) {
  .navigation .navbar-brand {
  }
  .navigation .navbar-brand strong {
    font-size: 1em;
  }
  .navigation .navbar-brand span {
    font-size: 0.7em;
  }
}


/* ==========================================================================
  Banner
========================================================================== */


.banner {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.banner__text {
  position: absolute;
  color: white;

  padding: 0 10%;

  width: 100%;
  box-sizing: border-box;

  left: 0;
  top: 20%;

  z-index: 5000;
}

.banner__text h2 {
  font-family: 'Droid Serif', serif;
  font-size: 3em;
  margin: 0;
}

.banner__text h4 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 40px;
}

.banner__bottom-text {
  display: block;
  margin-bottom: 60px;
  font-size: 2em;
  font-style: italic;
}

@media (max-width: 1100px) {
  .banner__text h2 {
    font-size: 2.4em;
  }
  .banner__text h4 {
    font-size: 1.8em;
    margin-bottom: 30px;
  }
  .banner__bottom-text {
    font-size: 1.8em;
    margin-bottom: 40px;
  }
}

@media (max-width: 950px) {
  .banner__text {
    top: 15%;
  }
  .banner__text h2 {
    font-size: 2.2em;
  }
  .banner__text h4 {
    font-size: 1.6em;
  }
  .banner__bottom-text {
    font-size: 1.6em;
  }
}

@media (max-width: 820px) {
  .banner__text {
    top: 10%;
  }
  .banner__text h2 {
    font-size: 2.0em;
  }
  .banner__text h4 {
    font-size: 1.4em;
  }
  .banner__bottom-text {
    font-size: 1.4em;
    margin-bottom: 20px;
  }
}

@media (max-width: 740px) {
  .banner__text h2 {
    font-size: 1.2em;
  }
  .banner__text h4 {
    font-size: 1.0em;
    margin-bottom: 15px;
  }
  .banner__bottom-text {
    font-size: 1.0em;
    margin-bottom: 15px;
  }
}

@media (max-width: 530px) {
  .banner__text {
    top: 20%;
  }
  .banner__text h2 {
    font-size: 1.0em;
  }
  .banner__text h4 {
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .banner__bottom-text {
    display: none;
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  .banner .btn {
    margin-top: 10px;
    padding: 0 5px;
    font-size: 0.9em;
  }

  .bx-wrapper .bx-prev {
    left: 20px;
  }

  .bx-wrapper .bx-next {
    right: 20px;
  }
}


@media (max-width: 375px) {
  .banner__text {
    top: 10%;
  }
  .banner__text h2 {
    font-size: 1em;
  }

  .banner__text h4 {
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .banner__bottom-text {
    font-size: 0.8em;
    margin-bottom: 20px;
  }

  .banner .btn {
    margin-top: 0px;
  }

  .bx-wrapper .bx-prev {
    left: 5px;
  }

  .bx-wrapper .bx-next {
    right: 5px;
  }
}


/* ==========================================================================
  Rewards
========================================================================== */

.rewards {
  background-color: #dbe4ed;
  text-align: center;
  text-align-last: center;
  padding: 5px 0;
}

.rewards::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.rewards img{
  margin: 15px;
}

@media (max-width: 360px) {
  .rewards {
    text-align: center;
    text-align-last: center;
  }
  .rewards .container {
    padding: 0;
  }
  .rewards img {
    margin: 10px;
    width: 60px;
  }
}

/* ==========================================================================
  Information
========================================================================== */

.information {
  padding: 50px 0;
}

.contact-form {
  background-color: #0d4381;
  padding: 40px;
  max-width: 390px;
}

.contact-form input::-webkit-input-placeholder { color: #2e5c97; }
.contact-form input::-moz-placeholder { color: #2e5c97; }
.contact-form input:-moz-placeholder { color: #2e5c97; }
.contact-form input:-ms-input-placeholder { color: #2e5c97; }

.contact-form .form-control {
  color: #2e5c97;
}

.contact-form h4 {
  color: #c5aa75;
  margin: 0;
  margin-bottom: 40px;
}

.information__post h4 {
  font-weight: bold;
  color: #0d4381;
}

.information__post p {
  text-align: justify;
  color: black;
  margin-bottom: 50px;
}

.contact-form .btn {
  margin-top: 15px;
  width: 150px;
}

@media (max-width: 360px) {
  .information {
    padding: 0;
  }
  .contact-form {
    padding: 0 10px;
    text-align: center;
  }
  .contact-form h4 {
    margin: 0;
    padding: 20px 0;
  }
  .contact-form .btn {
    margin: 10px auto;
  }
  .information__post p {
    margin-bottom: 20px;
  }
}

/* ==========================================================================
  Team
========================================================================== */

.team {
  padding: 0;
  padding-bottom: 50px;
  background-color: #dbe4ed;
}

.team h2 {
  text-align: center;
  margin: 50px 0 30px 0;
  font-weight: bold;
  color: #0d437f;
}

.team__members {
  text-align: center;
}

.team__member {
  margin: 20px;
  text-align: justify;
  display: inline-block;
}

.team__member-photo img {
  width: 100%;
}

.team__member-info {
  text-align: justify;
}

.team__member h2 {
  color: black;
}

.team__member a {
  float: right;
  color: #0f4281;
  display: none;
}

@media (max-width: 360px) {
  .team {
    padding: 0;
  }
  .team .container {
    -padding: 0;
  }
  .team h2 {
    font-size: 1.2em;
    margin: 20px 0 0 0;
  }
  .team__member {
    width: auto;
  }
  .team__member .btn {
    width: 100px;
  }
  .team__member a {
    display: block;
    padding-right: 15px;
    padding-top: 5px;
  }
}

/* ==========================================================================
  Testimonials
==========================================================================*/


.testimonials {
  text-align: center;
  padding-bottom: 15px;
}

.testimonials h2 {
  margin-top: 50px;
  margin-bottom: 25px;
  color: #104384;
  font-weight: bold;
}

.testimonial {
  display: block;
  text-align: justify;
  color: black;
}

.testimonial p {
  margin-bottom: 30px;
}

@media (max-width: 360px) {
  .testimonials h2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.2em;
  }


  .testimonial p {
    margin-bottom: 10px;
  }
}

/* ==========================================================================
  Footer
========================================================================== */

.footer {
  background-color: #0e4b8e;
  color: white;
  padding: 15px 0;
}

.copyright {
  display: block;
  float: left;
}

.footer ul {
  float: right;
  margin-bottom: 0;
}

.footer__links li {
  border-right: 1px solid white;
}

.footer__links li:last-of-type {
  border-right: none;
}

.footer ul>li>a {
  color: white;
}
.footer ul>li>a:hover {
  color: white;
}
.footer__socials {
  display: none;
}

.footer__socials li {
  margin: 10px;
}

@media (max-width: 992px) {
  .footer {
    text-align: center;
    font-size: 0.85em;
  }
  .footer ul, .footer .copyright {
    float: none;
  }
  .footer__socials {
    display: block;
  }
}

/* ==========================================================================
  Other Styles
========================================================================== */

.color-blue {
  background-color: #0d4a8d;
}

.btn-orange {
  background-color: #c8a875;
  color: white;
}

.btn-orange:hover {
  color: white;
}

.btn-lightblue {
  background-color: #dbe4ed;
  color: black;
  border: solid 2px #0d4381;
  width: 150px;
}

.btn-lightblue:hover {
  color: white;
  background-color: #0d4381;
}